/* Navigation bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 25px;
}
/* Home section  */
#Homes{
    height: 400px;
}
#Homes p{
    font-size: 14px;
}
#Homes::before{
    height: 639px;
    flex-wrap: wrap;
}
/* service section  */
#servicesbox{
    flex-direction: column;
}
/* delivery section  */
#partner{
    flex-wrap: wrap;
}
#partner img{
    width: 1.3rem;
    height: auto;
}
#services #box img{
    width: 266px;
}
.img{
    padding: 23px;
    margin: 5px 0px;
}


/* enquiry section  */



/* footer section  */




/* utility class or id */
.btn{
    padding: 4px 4px;
}
#H2{
    padding: 62px;
    padding-bottom: 0px;
}